# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test/sequence_test

# Executable output
test/callgrind.out.*

# Editor swap files
*~
.*.swp

# BiiCode outputs
bii/build
bii/deps
bii/cmake
bii/settings.bii
bii/policies.bii
bii/.hive.db
bin
